html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: auto;
	font-family: Arial;
	align-content: center;
	text-align: center;
	background-color: #2D2E30;
	color: white;
}

.head {
	background-color: #242527;
	width: device-width;
	height: 200px;
	position: relative;
	top: -22px;
	padding: 30px;
	align-content: center;
	text-align: center;
}

#search-bar {
	padding: 2px;
	margin: 0 auto;
	border-radius: 15px;
	background-color: #2D2E30;
	width: 250px;
	height: 30px;
	border-color: #2D2E30;
	border: 1px;
	text-align: center;
}

.uuid {
	background-color: #242527;
	width: 350px;
	margin: 0 auto;
	padding: 1%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	align-content: center;
}

.manifestRP {
	background-color: #242527;
	width: 350px;
	margin: 0 auto;
	padding: 1%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	align-content: center;
}

#manifestRPShow {
	background-color: black;
	color: green;
	width: 300px;
	height: 100px;
}

.manifestBP {
	background-color: #242527;
	width: 350px;
	margin: 0 auto;
	padding: 1%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	align-content: center;
}

#manifestBPShow {
	background-color: black;
	color: green;
	width: 300px;
	height: 100px;
}

.footer {
	background-color: #242527;
	height: 200px;
	width: device-width;
	text-align: center;
	position: relative;
	bottom: 0px;
	padding: 10px;
	align-content: center;
	text-align: center;
}

.loadingMessagesJSON {
	background-color: #242527;
	width: 350px;
	margin: 0 auto;
	padding: 1%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	align-content: center;
}

#loadingMessagesJSONTextarea {
	background-color: black;
	color: green;
	width: 300px;
	height: 100px;
}

.splashesJSON {
	background-color: #242527;
	width: 350px;
	margin: 0 auto;
	padding: 1%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	align-content: center;
}

#splashesTextarea {
	background-color: black;
	color: green;
	width: 300px;
	height: 100px;
}

.jsonEditor {
	background-color: #242527;
	width: 350px;
	margin: 0 auto;
	padding: 1%;
	border-radius: 10px;
	position: relative;
	text-align: center;
	align-content: center;
}

#jsonEditorArea {
	white-space: nowrap;
	overflow-x: auto;
	background-color: black;
	color: green;
	width: 300px;
	height: 100px;
}

#jsonConsole {
	background-color: black;
	color: white;
	width: 300px;
	height: 40px;
	font-weight: bolder;
}